@page "/canlogxy"
@*using UseNetCoreLog.Data
    @inject LogyhogService LogService*@
<h1>Can load datasets and check Pass/Fail</h1>
<br />
@if (TU == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@TU.ToString()</p>
}
<br />
<hr>
<button class="btn btn-primary" @onclick="IncrementCount">
    Test this page
    <span class="badge badge-light">@currentCount</span>
</button>
<button class="btn btn-danger" @onclick="Getresult">Test</button>
<br />
<hr />
<h3>Logging feedback </h3>
<p>Different colors for pass rates with rect limits</p>
<p>
    @foreach (Rectangle rect in responseList)
    {
        if (rect.DatasetID == 0)
        {
            <badge class="bt btn-success">@rect.X @rect.Y</badge>
        }
        if (rect.DatasetID == -1)
        {
            <badge class="bt btn-warning">@rect.X @rect.Y</badge>
        }
        if (rect.DatasetID == -2)
        {
            <badge class="bt btn-danger">@rect.X @rect.Y</badge>
        }
    }
</p>
<br />
<hr>
@if (e == null)
{
    <p>Exception: No Exception</p>
}
else
{
    <p>Exception: @e.Message</p>
}
<p>Pass/Fail: @value</p>

<p>@count</p>
@if (theError != null)
{
    <p>@theError.ErrorString</p>
    <p>@theError.ErrorInt</p>
    <p>@theError.httpStatus</p>
    <p>@theError.name</p>
    <p>@theError.loggingtype</p>
}
<br />

<br />

@code {
    private int currentCount = 0;
    private int count = 0;
    private int value = -1000;
    private TaskUser TU;
    private string datasetname = "44";
    private ErrorFeedback theError = null;
    private List<Exception> exList = new List<Exception>();
    private List<Rectangle> responseList = new List<Rectangle>();

    private async Task<TaskUser> GetDatasets()
    {
        var atask = new TaskUser("https://api.logyhog.com/api/", "J9ZDPC", "blazortest", $"blazor{RandomString(6)}");
        atask.Setlimits(datasetname, 5, 5, 3, 3);
        await Task.Delay(1);
        return atask;
    }

    private void LoadLimits()
    {
        TU.Setlimits(datasetname, 5, 5, 3, 3);
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            TU = await GetDatasets();
        }
        catch (Exception e)
        {
            exList.Add(e);
        }
    }

    private void Getresult()
    {
        int x = new Random().Next(0, 7);
        int y = new Random().Next(0, 7);
        var response = TU.XY(datasetname, x, y);
        theError = TU.GetError(datasetname);
        //-1 is a error
        if (response == null)
        {
            value = -66;
            return;
        }
        if (response is Rectangle)
        {
            responseList.Add(response);
        }
        value = -66;
    }

    public static string RandomString(int length)
    {
        var chars = "78UVWXYZ01234ABCDNOPQRSGHIJKLM569TEF";
        var stringChars = new char[length];
        var random = new Random();

        for (int i = 0; i < stringChars.Length; i++)
            stringChars[i] = chars[random.Next(chars.Length)];

        return new String(stringChars);
    }
}
